* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Martel&display=swap');

body {
	background-color: #f3eae8;
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	color: #333;

}

header {
	background-color: #b5829e;
	width: 100%;
	display: flex;
	justify-content: space-between
}

#img-logo {
	background-color: green;
	width: 100px;
	height: 100px;
	margin: 10px;
}

nav {
	display: flex;
}

span {
	visibility: hidden;
}

#menu-ul {
	display: flex;
	list-style: none;
	margin: 10px;
}

.link-cabecalho {
	text-decoration: none;
	font-size: 2rem;
	color: #333;
	padding: 5px 15px 5px;
	font-family: 'Martel', serif;
}

.link-cabecalho:hover {
	color: #f3eae8;
	border-bottom: 5px #f3eae8 solid;
}

#h1 {
	color: #a5718a;
	font-size: 4rem;
	margin: 1rem 0 ;
	font-family: 'Parisienne', cursive;
	text-shadow: -3px 2px 0px #ccb4b6;
}

#sobre {
	padding: 1vw;
	width: 80%;
	margin: 0 auto;
}

#div-sobre {
	background-image: url(imagens/HTML.png);
	background-size: cover;
}

.link-contato, #link-cv {
	border: 1px #000000 solid;
    color: #f3eae8;
    border-radius: 5px;
    padding: 5px;
    margin: 1vw;
    text-decoration: none;
    background-color: #b5829e;
}

#img-foto {
	background-color: green;
	max-width: 150px;
	width: 100%;
	height: 150px;
	margin: 1rem 0 2rem;
	border-radius: 180px;
	border: 5px #b5829e solid;
}

#informacoes {
	font-family: 'Martel', serif;
}

h4 {
	font-size: 1.5rem;
	margin: 0 0 2rem;
}

#habilidades {
	border: 10px #b5829e double;
	width: 90%;
	margin: 0 auto;
	margin-top: 2rem;
	padding: 1rem 0;
	font-family: 'Martel', serif;
}

.img-habilidades {
	width: 50px;
	height: 50px;
	padding: 5px 2px;
	margin: 0 10px;
}

.img-habilidades:hover {
	border: 3px #b5829e solid;
}

#projetos {
	margin: 2vw 1vw;
	padding: 1vw;
}

#projetos-div {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    justify-content: space-around;
    padding: 2vw;
}

article {
	background-color: #ccb4b6;
    border: 1px #000000 solid;
    margin: 1vw;
    max-width: 600px;
    padding: 2vw 0;
}

article:hover {
	border: none;
	outline: 5px #b5829e solid;
}

.img-projeto {
	max-width: 300px;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 180px;
    outline: 3px #b5829e solid;
}

.titulo-projetos {
	font-family: 'Merienda', cursive;
	margin: 10px 0 2px;
}

.descricao {
	font-family: 'Martel', serif;
}

.link-projeto {
    border: 1px #000000 solid;
    color: #b5829e;
    border-radius: 5px;
    margin: 0 1vw;
    padding: 5px;
    text-decoration: none;
    background-color: #f3eae8;
}

.link-projeto:hover {
    background-color: #b5829e;
    color: #f2f2f2;
}

#contato {
	background-color: #ccb4b6;
    border: 1px #000000 solid;
    border-radius: 10px;
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
    padding: 1vw 0;
}

form {
	display: flex;
    justify-content: space-around;
    text-align: left;
    margin: 1rem 0 0;
    width: 100%;
    padding: 2vw 1vw 0;
    font-family: 'Martel', serif;
}

.coluna-formulario {
    margin: 0 1.5vw;
    width: 100%;
}

input {
    background-color: #f3eae8;
    border-radius: 5px;
    margin: 5px 0 20px 0;
    padding: 10px;
    width: 100%;
   	height: 40px;
    color: #333;
}

textarea {
    background-color: #f3eae8;
    border-radius: 5px;
    margin-top: 5px;
    max-width: 100%;
    resize: none;
    width: 100%;
    height: 170px;
    color: #333;
}

#btn-enviar {
    background-color: #f3eae8;
    max-width: 150px;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    font-family: 'Martel', serif;
}

#btn-enviar:hover {
    background-color: #b5829e;
    color: #f3eae8;
    border: 2px #b5829e solid;
    cursor: pointer;
}

.titulo {
	color: #333 ;
	font-size: 2rem;
	font-family: 'Merienda', cursive;
}

footer {
	margin-top: 3rem;
	background-color: #b5829e;
	width: 100%;
	padding: 2vw;
	color: #000000;
}

h6 {
	font-size: 1rem;
}

#agradecimento {
	color: #ccb4b6;
	font-family: 'Merienda', cursive;
	font-size: 3rem;
	margin: 3vw 0;
}

@media (max-width: 700px) {
	#img-logo {
	background-color: green;
	width: 70px;
	height: 70px;
	margin: 10px;
	}

	#nav {
		display: flex;
		flex-direction: column;
    	align-items: flex-end;
    	width: 100%;
	}

	span {
		visibility: visible;
		margin: 15px;
	}

	#menu-ul {
		display: none;
	}

	.link-cabecalho {
		font-size: 1rem;
	}

	.link-cabecalho:hover {
		border: none;
		background-color: #ccb4b6;
	}
	#h1 {
		font-size: 3rem;
	}

	.titulo {
		font-size: 1.5rem;
	}

	#projetos-div {
	display: flex;
	flex-direction: column;
	}

	article {
		width: 70%;
		margin: 0 auto;
	}

	form {
		flex-direction: column;

	}

	.coluna-formulario {
		width: 90%;
		margin: 0 auto;
	}
}

@media (max-width: 520px) {
	.img-projeto {
		max-width: 200px;
		height: 200px;
	}

	#contato {
		max-width: 90%;
	}

	form {
		font-size: 13px;
	}

	#btn-enviar {
		max-width: 100px;
		padding: 4px;
	}
}